html {
  max-width: $page-width;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.4;
  color: $font-color;
  background: $background-color;
}

body {
  width: 100vw;
  margin: 15;
}

h2 {
  max-width: 90vw;
  text-align: left;
}

.lastupdated {
  color: green;
}

div {
  text-align: left;
}

.test {
  color: green;
}

.custom-text-color-button {
  color: white;
}
